<p><%= comment.content %></p>
<p>Posted By <%= comment.user.email%></p>

 <%= link_to "Edit", edit_message_comment_path(comment.message, comment) %> # comment.message corrspond to the comment that message are for second comment correspond to individual comments
 <%= link_to "Delete", message_comment_path(comment.message, comment), method: :delete %>
