<h1>Message Index Page</h1>


<ul>
  <li><% @messages.each do |message| %></li>
  <li><%= message.title %> <%= link_to "View Message", message_path(message) %>

      <% end %>
</ul>

<%=link_to "New Message", new_message_path  %>
