<style>
.events {
  background-color: black;
  color: white;
  ;
  padding: 10px;
}
.coo {
  line-height: 5px;
}
.text {
  text-size: 20px;
}
.card {
  display:inline-block;
  width: 18rem;
  margin: 25px;
}

</style>

<div class="events">
<h1> Events </h1>
</div>

<div class="coo">
  <br></br>
</div>

<br><% if current_user %>
  <%= button_to "Create Event", "/events/new", method: :get %>
<% end %></br>

<div class="coo">
  <br></br>
</div>

<% @events.each do |event| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to event.title, event %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.location%></h6>
      <p class="card-text"><%= event.date %></p>
    </div>
  </div>
<% end %>
