<h1> Events </h1>
<div class="container">
  <div class="col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-topper" style='evnt-title: (<%@events.each do |event|%>)'></div>
        <div class="card-block">
          <h4 class='card-title'> <%=link_to event.title, event %></h4>
          <p class='card-text'> <%= truncate(event.description, length: 100) %></p>
          <%= link_to "visit", event, class: 'btn btn-read' %>
          <%end%>
        </div>

    </div>

  </div>

<br><% if current_user %>
  <%= button_to "Create Event", "/events/new", method: :get %>
<% end %>


</div>
