/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


<<<<<<< HEAD
=======
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
>>>>>>> b2e7b04cd1fe7f55e97c17934482527ab9d7728e
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "navbar";

.card{
  display: flex;
  justify-content: center;
}

.card-body {
  display: block;
  justify-content:  space-around;
  align-items: center;
  margin-bottom: 10px;
}

.card-title {
  display: flex;
  flex-wrap: center;
  justify-content: space-around;
}

.card-text {
  width: 80%;
  min-width: 20px;
}
