// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home 
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}
