// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index {
  background: url(https://images.pexels.com/photos/1934259/pexels-photo-1934259.jpeg?cs=srgb&dl=caffeine-camera-classic-1934259.jpg&fm=jpg) repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
