<% @users.each do |user| %>
  <% if @follower_ids.any?{|eid| eid == user.id} %>
    <br><%= link_to user.full_name, user %></br>
    <br><p> Location: <%= user.zip %>
    Date: <%= user.duration %></p></br>
  <% end %>
<% end %>
