<style>
.events {
  background-color: black;
  color: white;
  ;
  padding: 10px;
}
</style>

<div class="events">
  <h2>Following</h2>
</div>

<% @users.each do |user| %>
  <% if @follower_ids.any?{|eid| eid == user.id} %>
    <br><%= link_to user.full_name, user %></br>
    <p><br> Age: <%= user.age %></br>
    <br>  Bio: <%= user.description %></br></p>
  <% end %>
<% end %>
