<h1> Events </h1>

<% @user_events.each do |user_event| %>
  <%= link_to user_event.title, user_event %>
  <%= user_event.location%>
  <%= user_event.date %>
  <%= user_event.user.first_name%>
<% end %>
