<style>
.events {
  background-color: black;
  color: white;
  ;
  padding: 10px;
  font-size: 40px;
}
</style>

<div class="events"
  <h1>Story</h1>
</div>

<ul>
  <% @stories.each do |story| %>
  <%= story.title %> <%= link_to "View Story", story_path(story) %>

      <% end %>
</ul>

<%=link_to "New Story", new_story_path %>



<%= link_to 'Back', :back %>
